<div class="breadcrumbs-container">
  <nav class="breadcrumbs" aria-label="breadcrumbs">
    {{#if page.breadcrumbs}}
    <ul>
      <li><a href="{{siteRootPath}}/home/index.html">RISC-V Specifications</a></li>

      {{!-- Insert overview page breadcrumb for all groups in overview --}}
      {{#if (or (eq page.component.name "profile") (eq page.component.name "profiles") (eq page.component.name "rvprofile") (eq page.component.name "rva23") (eq page.component.name "rvb23"))}}
        <li><a href="{{siteRootPath}}/profiles-overview/index.html">Profiles Overview</a></li>
      {{else if (or (eq page.component.name "hardware") (eq page.component.name "aia") (eq page.component.name "iommu") (eq page.component.name "plic") (eq page.component.name "soc"))}}
        <li><a href="{{siteRootPath}}/hardware-overview/index.html">Hardware Overview</a></li>
      {{else if (isInGroup page.component "debug-trace-ras")}}
        <li><a href="{{siteRootPath}}/trace-debug-ras-overview/index.html">Debug, Trace, RAS Overview</a></li>
      {{else if (or (eq page.component.name "platform-software") (eq page.component.name "ffh") (eq page.component.name "semihost") (eq page.component.name "brs") (eq page.component.name "rimt") (eq page.component.name "sbi") (eq page.component.name "rpmi") (eq page.component.name "uefi"))}}
        <li><a href="{{siteRootPath}}/platform-software-overview/index.html">Platform Software Overview</a></li>
      {{else if (or (eq page.component.name "app-enablement") (eq page.component.name "intrinsic") (eq page.component.name "abi"))}}
        <li><a href="{{siteRootPath}}/app-enablement-overview/index.html">Application Enablement Overview</a></li>
      {{/if}}
      {{#with page.componentVersion}}
        {{#if ./title}}
          {{#if (eq ../page.module 'priv')}}
            <li><a href="../isa/priv-index.html">{{{./title}}}</a></li>
          {{else if (eq ../page.module 'unpriv')}}
            <li><a href="../isa/unpriv-index.html">{{{./title}}}</a></li>
          {{else if (eq ../page.module 'aia')}}
            <li><a href="../aia/index.html">{{{./title}}}</a></li>
          {{else if (eq ../page.module 'rimt')}}
            <li><a href="../rimt/index.html">{{{./title}}}</a></li>
          {{else if (eq ../page.module 'plic')}}
            <li><a href="../plic/index.html">{{{./title}}}</a></li>
          {{else}}
            <li><a href="index.html">{{{./title}}}</a></li>
          {{/if}}
        {{/if}}
      {{/with}}
      {{#each page.breadcrumbs}}
        {{#if (and (ne ./content @root.page.componentVersion.title) ./url (eq ./urlType 'internal'))}}
          <li>
            <a href="{{{relativize ./url}}}">{{{./content}}}</a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    {{/if}}
  </nav>
</div>