{{!-- Dynamic nav grouping by page-group attribute using getPageGroups helper --}}
{{#if page.navigation}}
  {{#each (getPageGroups site.components) as |group|}}
    {{#if (isInGroup @root.page.component group)}}
      <div class="nav-group-header">{{group}}</div>
      {{#each site.components}}
        {{#if (isInGroup this group)}}
          <div class="nav-trees" data-component="{{this.name}}">
            <div class="version-box">
              <select data-component="{{this.name}}" class="select-version">
                {{#each this.versions}}
                  <option
                    value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                    data-version="{{this.version}}"
                    {{#if (or this.missing (not this.url))}}disabled{{/if}}
                    {{#if (or (and (eq ../name @root.page.component.name) (eq this.version @root.page.version)) (and (not (eq ../name @root.page.component.name)) (not this.missing) this.url (or this.latest @first)))}}selected{{/if}}>
                    {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
                  </option>
                {{/each}}
              </select>
            </div>
            {{#each this.versions}}
              {{#if (and this.navigation (or (and (eq ../name @root.page.component.name) (eq this.version @root.page.version)) (and (not (eq ../name @root.page.component.name)) (not this.missing) this.url (or this.latest @first))))}}
                <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
                  {{> nav-tree navigation=this.navigation}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
    {{/if}}
  {{/each}}
  {{!-- Render components with no group in a default section --}}
  {{#each site.components as |component|}}
    {{#unless (component.asciidoc.attributes.page-group)}}
      <div class="nav-group-header">Other</div>
      <div class="nav-trees" data-component="{{component.name}}">
        <div class="version-box">
          <select data-component="{{component.name}}" class="select-version">
            {{#each component.versions}}
              <option
                value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                data-version="{{this.version}}"
                {{#if (or this.missing (not this.url))}}disabled{{/if}}
                {{#if (or (and (eq ../name @root.page.component.name) (eq this.version @root.page.version)) (and (not (eq ../name @root.page.component.name)) (not this.missing) this.url (or this.latest @first)))}}selected{{/if}}>
                {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
              </option>
            {{/each}}
          </select>
        </div>
        {{#each component.versions}}
          {{#if (and this.navigation (or (and (eq ../name @root.page.component.name) (eq this.version @root.page.version)) (and (not (eq ../name @root.page.component.name)) (not this.missing) this.url (or this.latest @first))))}}
            <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
              {{> nav-tree navigation=this.navigation}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/unless}}
  {{/each}}
{{/if}}
