{{!-- Render grouped components with per-component nav + version switchers --}}
{{#if page.navigation}}
  {{#if (isInGroup @root.page.component "profiles")}}
    {{!-- Show all profiles components when viewing any of them --}}
    {{#each site.components}}
      {{#if (isInGroup this "profiles")}}
        <div class="nav-trees" data-component="{{this.name}}">
          <div class="version-box">
            <select data-component="{{this.name}}" class="select-version">
              {{#each this.versions}}
                <option
                  value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                  data-version="{{this.version}}"
                  {{#if (or this.missing (not this.url))}}disabled{{/if}}
                  {{#if (eq this.version @root.page.version)}}selected{{/if}}>
                  {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
                </option>
              {{/each}}
            </select>
          </div>
          {{#each this.versions}}
            {{#if this.navigation}}
              <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
                {{> nav-tree navigation=this.navigation}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{else if (isInGroup @root.page.component "hardware")}}
    {{!-- Show all hardware components when viewing any of them --}}
    {{#each site.components}}
      {{#if (isInGroup this "hardware")}}
        <div class="nav-trees" data-component="{{this.name}}">
          <div class="version-box">
            <select data-component="{{this.name}}" class="select-version">
              {{#each this.versions}}
                <option
                  value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                  data-version="{{this.version}}"
                  {{#if (or this.missing (not this.url))}}disabled{{/if}}
                  {{#if (eq this.version @root.page.version)}}selected{{/if}}>
                  {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
                </option>
              {{/each}}
            </select>
          </div>
          {{#each this.versions}}
            {{#if this.navigation}}
              <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
                {{> nav-tree navigation=this.navigation}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{else if (isInGroup @root.page.component "debug-trace-ras")}}
    {{!-- Show all debug-trace-ras components when viewing any of them --}}
    {{#each site.components}}
      {{#if (isInGroup this "debug-trace-ras")}}
        <div class="nav-trees" data-component="{{this.name}}">
          <div class="version-box">
            <select data-component="{{this.name}}" class="select-version">
              {{#each this.versions}}
                <option
                  value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                  data-version="{{this.version}}"
                  {{#if (or this.missing (not this.url))}}disabled{{/if}}
                  {{#if (eq this.version @root.page.version)}}selected{{/if}}>
                  {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
                </option>
              {{/each}}
            </select>
          </div>
          {{#each this.versions}}
            {{#if this.navigation}}
              <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
                {{> nav-tree navigation=this.navigation}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{else if (isInGroup @root.page.component "platform-software")}}
    {{!-- Show all platform-software components when viewing any of them --}}
    {{#each site.components}}
      {{#if (isInGroup this "platform-software")}}
        <div class="nav-trees" data-component="{{this.name}}">
          <div class="version-box">
            <select data-component="{{this.name}}" class="select-version">
              {{#each this.versions}}
                <option
                  value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                  data-version="{{this.version}}"
                  {{#if (or this.missing (not this.url))}}disabled{{/if}}
                  {{#if (eq this.version @root.page.version)}}selected{{/if}}>
                  {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
                </option>
              {{/each}}
            </select>
          </div>
          {{#each this.versions}}
            {{#if this.navigation}}
              <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
                {{> nav-tree navigation=this.navigation}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{else if (isInGroup @root.page.component "application-software")}}
    {{!-- Show all application-software components when viewing any of them --}}
    {{#each site.components}}
      {{#if (isInGroup this "application-software")}}
        <div class="nav-trees" data-component="{{this.name}}">
          <div class="version-box">
            <select data-component="{{this.name}}" class="select-version">
              {{#each this.versions}}
                <option
                  value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
                  data-version="{{this.version}}"
                  {{#if (or this.missing (not this.url))}}disabled{{/if}}
                  {{#if (eq this.version @root.page.version)}}selected{{/if}}>
                  {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
                </option>
              {{/each}}
            </select>
          </div>
          {{#each this.versions}}
            {{#if this.navigation}}
              <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
                {{> nav-tree navigation=this.navigation}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    {{!-- Standard navigation for non-grouped components with version selector --}}
    <div class="version-box">
      <select data-component="{{page.component.name}}" class="select-version">
        {{#each page.component.versions}}
          <option
            value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
            data-version="{{this.version}}"
            {{#if (or this.missing (not this.url))}}disabled{{/if}}
            {{#if (eq this.version @root.page.version)}}selected{{/if}}>
            {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
          </option>
        {{/each}}
      </select>
    </div>
    {{> nav-tree navigation=page.navigation}}
  {{/if}}
{{/if}}
