{{!-- Render grouped components with per-component nav + version switchers --}}
{{#if page.navigation}}
  {{#each (getComponentsInGroup site.components page.component)}}
    <div class="nav-trees" data-component="{{this.name}}">
      <div class="version-box">
        <select data-component="{{this.name}}" class="select-version">
          {{#each this.versions}}
            <option
              value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
              data-version="{{this.version}}"
              {{#if (or this.missing (not this.url))}}disabled{{/if}}
              {{#if (eq this.version @root.page.version)}}selected{{/if}}>
              {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
            </option>
          {{/each}}
        </select>
      </div>
      {{#each this.versions}}
        {{#if this.navigation}}
          <div data-component="{{../name}}" data-version="{{this.version}}" class="nav-version-group">
            {{> nav-tree navigation=this.navigation}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{else}}
    {{!-- Standard navigation for non-grouped components --}}
    <div class="version-box">
      <select data-component="{{page.component.name}}" class="select-version">
        {{#each page.component.versions}}
          <option
            value="{{#if this.url}}{{{relativize this.url}}}{{/if}}"
            data-version="{{this.version}}"
            {{#if (or this.missing (not this.url))}}disabled{{/if}}
            {{#if (eq this.version @root.page.version)}}selected{{/if}}>
            {{this.displayVersion}}{{#if (or this.missing (not this.url))}} (unavailable){{/if}}
          </option>
        {{/each}}
      </select>
    </div>
    {{> nav-tree navigation=page.navigation}}
  {{/each}}
{{/if}}
