{{!-- Only render the context bar once. --}}
{{#if page.component.asciidoc.attributes.page-group}}
  {{!-- Render the overview bar if found. --}}
  {{#each site.components}}
    {{#if (and (eq this.asciidoc.attributes.page-group ../page.component.asciidoc.attributes.page-group) (eq this.asciidoc.attributes.is-overview true))}}
      <div class="context">
        <span class="title">
          <a href="{{this.start_page.url}}">{{this.title}}</a>
        </span>
      </div>
    {{/if}}
  {{/each}}
  {{!-- Always render the fallback. If the overview exists, it will appear above this. --}}
  <div class="context">
    <span class="title">
      <a href="{{page.component.url}}">{{page.component.title}}</a>
    </span>
  </div>
{{else}}
  <div class="context">
    <span class="title">
      <a href="{{page.component.url}}">{{page.component.title}}</a>
    </span>
  </div>
{{/if}}