<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}{{#if page.component}}{{#if (eq page.component.name 'home')}} data-is-home="true"{{/if}}{{/if}}>
  <aside class="nav">
    <div class="panels">
      <div class="nav-panel-menu is-active" data-panel="menu">
        <nav class="nav-menu">
          <ul class="nav-list" style="padding-left: 0; margin: 0;">
            <li class="nav-item" style="padding-left: 0;">
              <a class="nav-link" href="{{siteRootPath}}/{{or site.keys.toc_home_link_path 'home/index.html'}}" style="font-weight: bold; font-size: 1.1em; margin-left: 0; padding-left: 1rem;">{{or site.keys.toc_home_link_label 'RISC-V Specifications'}}</a>
            </li>
          </ul>
{{> nav-explore}}
{{> nav-menu}}
          <div class="toggle-sm">
            <button id="nav-toggle-2" class="nav-toggle"></button>
          </div>
        </nav>
      </div>
      <div class="nav-collapse">
        <button id="nav-collapse-toggle"><span></span></button>
      </div>
    </div>
    <div class="nav-resize"></div>
  </aside>
</div>
<script>
!function (sidebar) {
  var isHome = window.location.pathname.includes('/home/') || window.location.pathname === '/'
  if (isHome || sidebar) {
    document.body.classList.add('nav-sm')
  }
}(localStorage && localStorage.getItem('sidebar') === 'close')
</script>
